html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
}

.calculator {
  width: 400px;
  height: 340px;
  background: #ccc;
  border-radius: 20px;
  margin: 180px auto 0 auto;
  position: relative;
}

input[type="text"] {
  background: #fff;
  border: none;
  text-align: right;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
}

.input {
  width: 160px;
  height: 50px;
  display: block;
  margin-top: 20px;
}

#input1 {
  position: absolute;
  left: 20px;
}

#input2 {
  position: absolute;
  right: 20px;
}

.answer {
  position: absolute;
  bottom: 100px;
  left: 20px;
  display: inline-block;
  width: 360px;
  height: 50px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  width: 60px;
  height: 50px;
  background: #999;
  margin-top: 105px;
  margin-left: 20px;
  margin-right: 15px;
  border-radius: 5px;
}

.button span {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}

.math {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.clear {
  display: block;
  width: 70px;
  height: 50px;
  background: #000;
  position: absolute;
  bottom: 20px;
  left: 90px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}

.equals {
  display: block;
  width: 120px;
  height: 50px;
  background: orange;
  position: absolute;
  bottom: 20px;
  left: 180px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}
